@media (max-width: 768px) {
  .DetailsContainer {
    flex-wrap: wrap !important;
  }

  #btnico {
    display: block !important;
  }

  #lordIco {
    display: none !important;
  }
.buttons{
margin: 0 !important;
}

}
#btnico {
  display: none !important;
}
.buttons{
  /* margin: auto !important; */
  /* margin-left: 90px !important; */
}